@import url("/budgetproject/fonts/fonts.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: ABeeZee;
    
}
h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
    color: darkcyan;
    letter-spacing: 2px;
}
section{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form-group{
    /*display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: #264f62;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);

    animation: scaleUp 0.2s ease;*/
    display: none
}
.form-group:hover{
    background: #46748b;
    cursor: pointer;
}
.control-label{
    font-size: 1.01rem;
    color: #fff;
}
output{
    width: 150px;
    color: #fff;
    font-weight: 900;
    background: #fff;
    font-size: 1.02rem;
    text-align: right;
}
input:focus{
    background: #fff;
    border: none;
    outline: none;
   }
   .btn{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
   }
   .btn-success{
       border-radius: 5px;
       background: green;
       padding: .6rem;
       color: #fff;
       border: none;
       outline: none;
       cursor: pointer;
   }
   .btn-success:hover{
       background: lightgreen;
   }
   .btn:active{
       transform: scale(0.98);
       transition: 0.1s ease-in-out;
   }
   .dropdown{
       color: rgb(82, 175, 144);
       cursor: pointer;
   }
   .dropdown:hover{
       text-decoration: underline;
       transition: 1s ease-in-out;
   }
   .dropdown:active{
   color: #46748b;
    transition: 0.1s ease-in-out;
}
.show{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: #264f62;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);

    animation: scaleUp 0.2s ease;
}
@keyframes scaleUp{
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
    
   