/*-- font family Abel--*/
@font-face{
    font-family: Abel;
    src: url('/budgetproject/font/Abel.ttf');
}
/*-- font family ABeeZee-Italic--*/
@font-face{
    font-family: ABeeZee-Italic;
    src: url('/budgetproject/font/ABeeZee-italic.ttf');
}
/*-- font family ABeeZee--*/
@font-face{
    font-family: ABeeZee;
    src: url('/budgetproject/font/ABeeZee.ttf');
}
/*-- font family Abhaya-bold--*/
@font-face{
    font-family: Abhaya-bold;
    src: url('/budgetproject/font/Abhaya-extrabold.ttf');
}
/*-- font family Abhaya-medium--*/
@font-face{
    font-family: Abhaya-medium;
    src: url('/budgetproject/font/Abhaya-medium.ttf');
}
/*-- font family Abhaya-regular--*/
@font-face{
    font-family: Abhaya-regular;
    src: url('/budgetproject/font/Abhaya-regular.ttf');
}